body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0px;
    margin: 0px;
} 

.logo {
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #1f2937;
    color: #f9faf9;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 450px;
    flex-wrap: wrap;
}

.content {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0px;
}

li {
    margin-left: 10px;
    padding: 0px;
} 

.place {
    border-radius: 10px;
}


.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 0px;
    gap: 0px;
    width: 100%;
    flex-wrap: wrap;
}  

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border-radius: 5px;
    border: 1px solid white;
}

.button1 {
    border: 0px;
}

.section2 {
    text-align: center;
    margin-top: 100px;
    
}

.images {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.round {
    border-radius: 20px;
}

.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 100px;
    background-color: #e5e7eb;
    flex-wrap: wrap;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
} 

.text3 {
    padding: 0px;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
} 

.texts3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section4 {
    background-color: ;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    background-color: #3882f6;
    padding: 20px 100px;
    /* margin: 0px 500px; */
    max-width:fit-content;
    border-radius: 10px;
    color: #f9faf9;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    padding: 25px;
    margin: 0px;
    color: #e5e7eb;
}
